.third-position {
  box-sizing: border-box;
  display: flex;
  position: relative;
  background-color: #fdfdfd;
  width: 100%;
  min-height: 620px;
  padding: 30px;
}

.donate1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: auto;
  max-height: 100%;
  object-fit: contain;
}

.Heading1 {
  font-size: 45px;
  color: #28a745;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
}

@media (max-width: 1258px) {
  .donate1 {
    height: 300px;
    margin-right: -70px;
    margin-left: 80px;
    position: relative;
  }

  .Heading1 {
    font-size: 38px;
  }

  .Description1 p {
    font-size: 17px;
  }
}

@media (max-width: 948px) {
  .donate1 {
    height: 280px;
    margin-right: -70px;
    margin-left: 30px;
    width: 550px;
  }

  .Heading1 {
    font-size: 40px;
  }
}

@media (max-width: 790px) {
  .fourth-layer {
    min-height: auto;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: center;
  }

  .donate1 {
    width: 100vw;
    margin-left: calc((100vw - 100%) / -2); /*chatgpt na HAHAHAHA de keri sakit na sa ulo tong part na to*/
    margin-right: calc((100vw - 100%) / -2);
    margin-bottom: 40px;
    height: auto;
    order: 2;
  }

  .Description {
    width: 100%;
    order: 1;
  }

  .Heading1 {
    font-size: 38px;
    margin-top: -45px;
  }

  .Description1 p {
    margin-top: -5px;
    font-size: 18px;
  }
}
