.third-layer {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #fdfdfd;
  width: 100%;
  justify-content: center;
  min-height: 812px;
}
  
.about-section {
  padding: 20px;
  color: #1f1f1fe7;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
  max-width: 700px; 
  margin: 0 auto; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start;
  min-height: 622px; 
  padding-top: 188px; 
  margin-top: -350px;  
}
  
.about-section h1 {
  font-size: 47px;
  margin: 0; 
  font-weight: 600;
  margin-bottom: 12px;
}
  
.about-section p {
  font-size: 19px;
  line-height: 1.5;
}
  
.about-subtext {
  list-style: none;
  padding: 0; 
  margin: 0; 
}
  
.about-subtext li {
  margin-top: 30px;
  position: relative; 
  padding-left: 30px; 
  margin-bottom: 10px; 
  font-size: 25px; 
  line-height: 1.6;
}
  
.about-subtext li::before {
  content: '>'; 
  position: absolute; 
  left: 0; 
  color: #31cc86;
  font-size: 27px; 
  line-height: 1.6; 
}