html {
scroll-behavior: smooth;
}

* {
padding: 0;
margin: 0;
text-decoration: none;
box-sizing: border-box;
}

/* Responsiveness */

@media (max-width: 952px) {
label.logo {
    font-size: 30px;
    padding-left: 50px;
}

nav ul li a {
    font-size: 16px;
}
}

@media (max-width: 768px) {
.about-section h2 {
    font-size: 45px;
}

.about-section p {
    font-size: 16px;
}

.donation-intro h1 {
    font-size: 38px;
}

.donation-intro p {
    font-size: 16px;
}
.footer-distributed {
    flex-direction: column; 
    align-items: flex-start; 
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    width: 100%; 
    margin-bottom: 20px;
    text-align: left; 
    margin-left: -30px;
}

.footer-distributed .footer-center i {
    margin: 0 auto 10px; 
}
}
@media (max-width: 900px) {
.news-box {
    grid-template-columns: 1fr; 
}

.news-box-1 {
    width: 100%; 
}
}

@media (max-width: 480px) {
.navbar {
    padding: 15px;
    flex-direction: column; 
}

.nav-list {
    flex-direction: column; 
    gap: 10px; 
}

.about-section p {
    font-size: 14px;
}

.donation-intro h1 {
    font-size: 28px;
}

.donation-intro p {
    font-size: 14px;
}

.card {
    width: 90%; 
}

.logo {
    width: 80px;
}

.logo2 {
    width: 80px; 
}
}

@media (max-width:721px){
.home-section h2{
    font-size: 40px;
}
.home-section p{
    font-size: 16px;
}
.about-section h1 {
    font-size: 30px;
    margin-top: -30px;
}

.about-section p {
    font-size: 15px;
}

.about-subtext li {
    font-size: 20px; 
}

.about-subtext li::before {
    font-size: 27px; 
}
.donation-intro h1 {
    font-size: 30px;
}

.donation-intro p {
    font-size: 15px;

}
.donation-intro  span {
    font-size: 12px;
    
}

}